body {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-content: center;
    min-width: 550px;
}

h1 {
    color: #FFFFFF;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

h1 span {
    color: #4ADF86;
}

button {
    background-color: #10B981;
    color: #FFFFFF;
    font-family: 'Inter';
}

#header-el {
    color: #D5D4D8;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
}

#generate {
    display: flex;
    justify-content: start;
}

#password-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
}

#length-el {
    padding-left: 35px;
}

#length-el p {
    margin: 0;
    color: #D5D4D8;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 12px;
    text-align: center;
    padding: 0 0 3px 0;
}

#length-ctrl {
    display: flex;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#length-input {
    width: 35px;
    text-align: center;
    background-color: #2F3E53;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    padding: 3px 0px;
}

#decremeant-btn {
    border: none;
    border-radius: 12px 0 0 12px;
    padding-left: 10px;
}

#incremeant-btn {
    border: none;
    border-radius: 0 12px 12px 0;
    padding-right: 10px;
    margin: 0;
}

hr {
    height: 1px;
    background-color: #2F3E53;
    border: none;
    margin-top: 35px;
    margin-bottom: 35px;
}

#password-el {
    color: #55F991;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    background-color: #273549;
    border-radius: 10px;
}